[Unit]
Description=PostgreSQL Container for Voz de Papel
After=docker.service
Requires=docker.service

[Service]
Restart=always
ExecStartPre=/usr/bin/docker pull postgres:15
ExecStart=/usr/bin/docker run --rm --name app_postgres -e POSTGRES_USER=vozpapeladm -e POSTGRES_PASSWORD=VozPapelAdm -e POSTGRES_DB=bdvozdepapel -v /path/to/init.sql:/docker-entrypoint-initdb.d/init.sql -v postgres_data:/var/lib/postgresql/data -p 5432:5432 postgres:15
ExecStop=/usr/bin/docker stop app_postgres

[Install]
WantedBy=multi-user.target
